<div class="card">
    <form [formGroup]="form" (submit)="save()">
        <div class="card-body">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="" formControlName="name">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Frete</label>
                        <input type="text" class="form-control" placeholder="0,00"
                            [brmasker]="{form: form.get('freight'), money: true, decimalCaracter: '.'}"
                            required
                            formControlName="freight">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>País</label>
                        <input type="text" class="form-control" placeholder="Brasil" formControlName="country">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6 pt-3">
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label>Região</mat-label>
                            <mat-select formControlName="region">
                                <mat-option value="Sul">Sul </mat-option>
                                <mat-option value="Sudeste">Sudeste </mat-option>
                                <mat-option value="Leste">leste </mat-option>
                                <mat-option value="Oeste">Oeste</mat-option>
                                <mat-option value="Noreste">Noreste</mat-option>
                                <mat-option value="Centro">Centro</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder=""
                        formControlName="city">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Estado</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder=""
                        [brmasker]="{form: form.get('state'), mask: 'AA', len: 2}"
                        formControlName="state">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="row">
                        <div class="col-lg-7 ">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">
                                Atualizar
                            </button>
                        </div>
                        <div class="col-lg-5 ">
                            <a href="javascript:history.go(-1)" class="btn btn-secondary btn-block">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>