@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';



.form-area {
    min-height: 300px;
}

.complement-list {
    max-height: 200px;
    overflow: auto;
}
.form {
    position: absolute;
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @include media-breakpoint-down(md) { 
        overflow: auto;
    }
    &.create {
        height: auto;
    }

  
}