.printable, .printable * {
    visibility: visible
}
.printable {
    position: fixed;
    left: 0;
    top: 0;
	min-height: 50%;
	z-index: 999;
}



$color-gray: #BCBCBC;
.text {
	&-center { text-align: center; }
}
.ttu { text-transform: uppercase; }


.printer-ticket {
	display: table !important;
    width: 100%;
	max-width: 150px;
	font-weight: light;
	line-height: 1.3em;
	$printer-padding-base: 10px;
	&, & * { 
		font-family: Tahoma, Geneva, sans-serif; 
		font-size: 10px; 
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 50px;
	}
	
	th:nth-child(3) ,
	td:nth-child(3) { 
		width: 40px; text-align: right; 
	}
	
	th { 
		font-weight: inherit;
		padding: $printer-padding-base 0;
		text-align: center;
		border-bottom: 1px dashed $color-gray;
	}
	tbody {
		tr:last-child td { padding-bottom: $printer-padding-base; }
	}
	tfoot {
		.sup td {
			padding: $printer-padding-base 0;
			border-top: 1px dashed $color-gray;
		}
		.sup.p--0 td { padding-bottom: 0; }
	}
	
	.title { font-size: 1.5em; padding: $printer-padding-base*1.5 0; }
	.top {
		td { padding-top: $printer-padding-base; }
	}
	.last td { padding-bottom: $printer-padding-base; }
}
