

<header class="content__title">
  <h1>Listagem de bairros</h1>
  <button type="button" class="btn btn-success btn-add" [routerLink]="['novo']" >
      <ion-icon name="add"></ion-icon>
  </button>
  
</header>
  
<div class="card  responsive-table">
  <div class="card-body ">
      <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
      <div class="mat-elevation-z8 " >
          <table mat-table [dataSource]="dataSource" matSort class="w-100 ">

              <!-- item1 Column -->
              <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.item1}} </td>
              </ng-container>

                  <!-- item2 Column -->
              <ng-container matColumnDef="item2">
                  <th mat-header-cell *matHeaderCellDef >  </th>
                  <td mat-cell *matCellDef="let element"> {{element.item2 }} </td>
              </ng-container>

              <!-- item3 Column -->
              <ng-container matColumnDef="item3">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.item3}} </td>
              </ng-container>

              <!-- item4 Column -->
              <ng-container matColumnDef="item4">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                  <td mat-cell *matCellDef="let element"> {{element.item4?.item}} </td>
              </ng-container>

              <!-- item5 Column -->
              <ng-container matColumnDef="item5">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidades </th>
                  <td mat-cell *matCellDef="let element" > {{element.item5}} </td>
              </ng-container>

              <!-- item6 Column -->
              <ng-container matColumnDef="item6">
                  <th mat-header-cell *matHeaderCellDef > Ações </th>
                  <td mat-cell *matCellDef="let element"> 
                      <button class="btn btn-primary mx-1" (click)="edit(element)">
                          <i class="zmdi zmdi-edit"></i>
                      </button>
                      <button class="btn btn-danger mx-1" (click)="delete()">
                          <i class="zmdi zmdi-close"></i>
                      </button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[50, 100, 150, 200, 250]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>
  