.button-area {
    position: absolute;
    bottom: 15px;
    left: 2.5%;
    text-align: center;
    width: 95%;

}

.form-area {
    min-height: 300px;
}


form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.font-size-20{
    font-size: 20px;
    text-align: center;

}
.font-size-10{
    font-size: 15px;
    text-align: center;

}
.btn-order{
    font-size: 30px;
}
