
.scrollbar-inner {
    // padding-bottom: 50px;
}
.form-area {
    min-height: 300px;
}


form {
    position: relative;
    min-height: 350px;
    width: 100%;
}
.font-size-20{
    font-size: 20px;
    text-align: center;

}
.font-size-10{
    font-size: 15px;
    text-align: center;

}
.btn-order{
    font-size: 30px;
}


.loading-content {
    position: absolute;
    top: -10px;
    left: -10px;
    width:  calc(100% + 20px);
    height: calc(100% + 20px);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 15;
    background-color: #00000054;
}