<mat-card class=" shadow-none">
  <mat-card-header>
    <mat-card-title> <i class="fas fa-warning"></i> Aviso ! </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-container *ngFor="let error of errors">
      <span class="badge text-wrap wrap-force mt-2" [ngClass]="'badge-'+data.style" >
        {{ error }}
      </span> <br>
    </ng-container>
    
      
  </mat-card-content>
  <mat-card-actions class="text-right">
    <button mat-button (click)="dialogRef.close()">Entendi</button>
  </mat-card-actions>
</mat-card>