@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.painel-header {
    padding: 20px 0;
    position: relative;
    .painel-title {
        text-transform: uppercase;
        color: var(--white);
        &::after {
            content: '';
            display: block;
            margin: 5px auto;
            width: 40%;
            height: 1px;
            background-color: var(--white);
        }
    }
    .painel-item {
        width: 60px;
        height: 60px;
        margin: 3px 5px;
        padding-top: 5px;
        display: inline-block;
        border: 1px solid var(--white);
        text-align: center;
        border-radius: 50%;
        position: relative;
        transition: all 1s;
        &.disabled {
            pointer-events: none;
        }
        span {
            display: block;
            color: var(--white);
        }
    
        i {
            display: inline;
            font-size: 16px;
            color: var(--white);
        }

        &:hover, &.active {
            transform: scale(1.03);
            box-shadow: 0px 2px 7px -3px var(--dark);
            background-color: var(--white);
            span, i {
                color: var(--dark);
            }
            transition: all 300ms;
            cursor: pointer;
        }

    }



}

caption {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0;
}

.order-list {
    width: 100%;
    .btn-order {
        font-size: 20px;
    }
    tr>td {
        padding: 10px 0;
    }
}

.price-content {
    text-align: center;
    padding: 10px 0;
    &:nth-of-type(2) {
        border-top: 1px solid var(--secondary);
        border-bottom: 1px solid var(--secondary);
    }
}

#order-information {
    background-color:  #f3f3f3;
    border: 4px solid var(--white);
    margin: 5px;
    padding: 5px;
    .wallet {
        position: absolute;
        right: 8%;
        border-radius: 20px;
        padding: 5px 5px;
        &.negative {
            color: var(--danger);
        }

        &.positve {
            color: var(--info);
        }
    }
  
    .order-info-item {
        display: block;
        margin: 3px 0;
        color: var(--dark);
    }
   
}



