
<div class="painel  border">
    <div class="painel-header  text-center">
        <h4 class="painel-title">Tipo de venda</h4>
        <div class="painel-item active">
            <i class="fas fa-cash-register"></i> 
            <span>Caixa</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-motorcycle"></i>
            <span>Deliver</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-user"></i>
            <span>Cliente</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-concierge-bell"></i>
            <span>Mesa</span>
        </div>
    </div>

    <div class="painel-body">
        table
    </div>
    
</div>
