<div class="painel  border pb-4">
    <div class="painel-header  text-center">
        <h4 class="painel-title">venda</h4>
        <div class="painel-item " 
        [ngClass]="{'active': types.selling1 }"
        (click)="changeActive(1); ">
            <i class="fas fa-cash-register"></i>
            <span>Caixa</span>
        </div>
        <div class="painel-item " 
        [ngClass]="{'active': types.selling2 }" 
        (click)="modalClient(2); changeActive(2)">
            <i class="fas fa-motorcycle"></i>
            <span>Deliver</span>
        </div>
        <div class="painel-item" 
        [ngClass]="{'active': types.selling3 }" 
        (click)="modalClient(3); changeActive(3)">
            <i class="fas fa-user"></i>
            <span>Cliente</span>
        </div>
        <div class="painel-item " 
        [ngClass]="{'active': types.selling4 }"
        (click)="changeActive(4)" [routerLink]="['/pedidos/mesas']">
            <i class="fas fa-concierge-bell"></i>
            <span>Mesa</span>
        </div>
    </div>


    <form [formGroup]="form"  class="painel-body">
        
        <caption>Pedidos</caption>
        <table class="order-list text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>QTD</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of homeService.productSelected">
                    <td>{{ product.name }}</td>
                    <td>
                        {{  product.qtd }}
                        <a href="javascript:void(0)" 
                        *ngIf="!product.old"
                        (click)="homeService.lessProduct(product, $event)"
                        class="float-left btn-order text-danger">
                            <i class="fas fa-minus-circle"></i>
                        </a>

                        <a href="javascript:void(0)" 
                        *ngIf="!product.old"
                         class="float-right btn-order text-primary"
                         (click)="homeService.plusProduct(product, $event)">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </td>
                    <td> {{ homeService.getTotalSale(product ) | currency:'BRL':'R$':'1.2-2'}} </td>
                    <td>
                        <a href="javascript:void(0)" 
                        (click)="homeService.removeProductSelected(product); homeService.selection.toggle(product) " 
                        class="d-block text-center text-dark">
                            <i class="fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mx-0 text-theme price-content mt-4">
            <div class="col-lg-6 ">
                Subtotal
            </div>
            <div class="col-lg-6">
                {{ homeService.totalPrice | currency:'BRL':'R$':'1.2-2'}} 
            </div>
        </div>
        <div class="row mx-0  price-content">
            <div class="col-lg-6 ">
                Frete
            </div>
            <div class="col-lg-6">
                {{ homeService.frete | currency:'BRL':'R$':'1.2-2' }}
            </div>
        </div>
        <div class="row mx-0  price-content">
            <div class="col-lg-6 ">
                Total
            </div>
            <div class="col-lg-6">
                {{ homeService.totalPrice - homeService.frete | currency:'BRL':'R$':'1.2-2' }}
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-12 ">
                <div id="order-information" *ngIf="homeService.client || homeService.table">
                    
                    <div class="client-order position-static"  *ngIf="homeService.client">
                        <div class="wallet" [ngClass]="{
                            'positive': homeService.client.account?.amount > 0,
                            'negative':homeService.client.account?.amount < 0
                        }">
                          {{ homeService.client.account?.amount | currency:'BRL':' R$  ':'1.2-2'  }} <i class="fas fa-wallet"></i>
                        </div>
                        <span class="order-info-item ">
                            <strong>Nome:</strong>
                            {{ homeService.client.name }}
                            
                        </span>
                        <span class="order-info-item ">
                            <strong>Contato:</strong>
                            {{ homeService.client.cellphone? homeService.client.cellphone: homeService.client.phone }}
                        </span>
                        <span class="order-info-item ">
                            <strong>Endereço:</strong>
                            {{ homeService.client?.address_street  }} &nbsp;
                            {{ homeService.client?.address_number  }} &nbsp;
                            {{ homeService.client?.address_zipcode  }} &nbsp;
                        </span>
                    </div>
                    <div class="table-order"  *ngIf="homeService.table">
                        <span class="order-info-item ">
                            <strong>Lugares:</strong>
                            {{ homeService.table.places }}
                        </span>
                        <span class="order-info-item ">
                            <strong>Mesa: </strong>
                            {{ homeService.table.name }}
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 mx-auto">
                <button type="submit" 
                class="btn btn-outline-success btn-block"
                (click)="prepareSale()"
                *ngIf="!homeService.order_id; else addOrder">
                    Efetuar pedido
                </button>
                <ng-template #addOrder>
                    <button type="submit" 
                    class="btn btn-outline-info btn-block"
                    (click)="updateOrder(homeService.order_id)" >
                        Acrescentar pedido
                    </button>
                </ng-template>
            </div>
        </div>
    </form>
</div>
