
<div class="painel  border">
    <div class="painel-header  text-center">
        <h4 class="painel-title">venda</h4>
        <div class="painel-item active">
            <i class="fas fa-cash-register"></i> 
            <span>Caixa</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-motorcycle"></i>
            <span>Deliver</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-user"></i>
            <span>Cliente</span>
        </div>
        <div class="painel-item">
            <i class="fas fa-concierge-bell"></i>
            <span>Mesa</span>
        </div>
    </div>

    <div class="painel-body">
        <caption>Pedidos</caption>
        <table class="order-list text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>QTD</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Pizza</td>
                    <td>
                        1
                        <a href="javascript:void(0)" class="float-left btn-order text-danger">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                       
                        <a href="javascript:void(0)" class="float-right btn-order text-primary">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </td>
                    <td>87$</td>
                    <td>
                        <a href="javascript:void(0)" class="d-block text-center text-dark">
                            <i class="fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row text-center text-theme border-to">
            <div class="col-lg-6 ">
                Subtotal
            </div>
            <div class="col-lg-6">
                R$ 555
            </div>
        </div>

       
    </div>
    
</div>
