<a href="javascript:void(0)" (click)="modalCtrl.dismiss()" class="close mt-3 mr-3 text-right">
  &times;
</a>
<div class="container scrollbar-inner beauty-scroll">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="form">
                <div class="form-row">
                    <div class="col-lg-12">
                        <mat-radio-group
                            formControlName="paymentMethod"
                            aria-labelledby="Payments-radio"
                            class="example-radio-group">
                            <mat-radio-button class="example-radio-button" 
                            *ngFor="let item of paymentOptions" 
                            [value]="item.id">
                            &nbsp; <i class="fas" [ngClass]="item.icon"></i>   {{ item.name }} 
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-lg-6 pb-1 mx-auto text-center border-bottom">
                        <h5>Total</h5>
                      <span> {{ order.total  | currency:'BRL':'R$':'1.2-2' }}</span> 
                    </div>
                    <div class="col-lg-6 pb-1 mx-auto text-center border-bottom">
                        <h5>Desconto </h5>
                      <span> {{ order.discount_amount | currency:'BRL':'R$':'1.2-2' }}</span> 
                      <span *ngIf="!order.discount_amount"> Sem desconto</span> 
                    </div>
                    <div class="col-lg-12 mt-3" >
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Valor de descontos</mat-label>
                            <input matInput 
                            placeholder="Digite o valor" 
                            type="text"  
                            (keyup)="calc()"
                            autocomplete="off"
                            formControlName="discount_amount"
                            [brmasker]="{form: form.get('discount_amount'), money: true, decimalCaracter: '.'}">
                            <mat-hint *ngIf="form.get('discount_amount').getError('limit')" class="text-danger">
                                Limite de desconto para esse pedido é {{ discountLimit | currency:'BRL':'R$':'1.2-2' }}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>


<div class="button-area">
    <button class="btn btn-success btn-block" [disabled]="form.invalid" (click)="finalize()">
       <i class="fas fa-check"></i> Finalizar
       <span *ngIf="order.discount_amount" class="badge badge-warning"> Com descontos</span > 
    </button>
</div>