<div class="card">
  <form [formGroup]="form" (submit)="save()">
      <div class="card-body">
          <div class="row ">
              <div class="col-lg-6">
                  <div class="form-group">
                      <label>Bairro</label>
                      <input type="text" class="form-control" placeholder="" formControlName="neighborhood">
                      <i class="form-group__bar"></i>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <label>Frete</label>
                      <input type="text" class="form-control" placeholder="0,00"
                          [brmasker]="{form: form.get('freight'), money: true, decimalCaracter: '.'}"
                          required
                          formControlName="freight">
                      <i class="form-group__bar"></i>
                  </div>
              </div>

              <div class="col-lg-6 mx-auto">
                  <div class="row">
                      <div class="col-lg-7 ">
                        <button type="button" class="btn btn-info  px-4 " (click)="update()"
                        *ngIf="fretesService.elementToedit">
                            Atualizar
                        </button>
                        <button type="button" class="btn btn-primary  px-4 " (click)="save()"
                        *ngIf="!fretesService.elementToedit">
                            Salvar
                        </button>
                      </div>
                      <div class="col-lg-5 ">
                          <a href="javascript:history.go(-1)" class="btn btn-secondary btn-block">
                              Voltar
                          </a>
                      </div>
                    
   
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>