<form action="" [formGroup]="form" class="px-5">
    <header class="content__title">
        <h1>Informações</h1>


        <div class="actions position-absolute" style="right: 10px; top:0">
            <button type="button" class="btn btn-info  px-4 ">
                Atualizar
            </button>
            <button type="button" class="btn btn-secondary  px-4 ml-4">
                Cancelar
            </button>
        </div>
    </header>
    <mat-tab-group>
        <mat-tab label="Permissão no PDV">
            <ng-template matTabContent>
                <div class="pt-5">
                    <mat-card class="p-5">
                        <mat-card-content>
                            <div class="form-row ">
                                <div class="col-lg-12 ">
                                    <h5 class="text-info">Nivel 1</h5>
                                    <div class="form-row ">
                                        <div class="col-lg text-center">
                                            <hr>
                                            <div class="form-row text-left border-left">

                                                <div class="col-lg-12">
                                                    <mat-slide-toggle formControlName="fractioned" color="primary">
                                                        Venda
                                                    </mat-slide-toggle>
                                                    <br>
                                                    <br>
                                                    <mat-slide-toggle formControlName="fractioned" color="primary">
                                                        Venda fracionado?
                                                    </mat-slide-toggle>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg text-center">
                                            <hr>
                                            <div class="form-row text-left border-left">
                                                <div class="col-lg-12">
                                                    <mat-slide-toggle formControlName="collection" color="primary">
                                                        Produto possuí itens ?
                                                    </mat-slide-toggle>
                                                    <br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                        

                                <div class="col-lg-12 ">
                                    <h5 class="text-info">Nivel 2</h5>
                                    <div class="form-row ">
                                        <div class="col-lg text-center">
                                            <hr>
                                            <div class="form-row text-left border-left">

                                                <div class="col-lg-12">
                                                    <mat-slide-toggle formControlName="fractioned" color="primary">
                                                        Caixa
                                                    </mat-slide-toggle>
                                                    <br>
                                                    <br>
                                                    <mat-slide-toggle formControlName="fractioned" color="primary">
                                                        Venda fracionado?
                                                    </mat-slide-toggle>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg text-center">
                                            <hr>
                                            <div class="form-row text-left border-left">
                                                <div class="col-lg-12">
                                                    <mat-slide-toggle formControlName="collection" color="primary">
                                                        Produto possuí itens ?
                                                    </mat-slide-toggle>
                                                    <br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>
        </mat-tab>


        <mat-tab label="Permissões no dashboard">
            <ng-template matTabContent>
                <div class="pt-5 ">
                    <mat-card class="toggle-disponible p-5">
                        <mat-card-content>
                            <div class="toggle-button">
                                <mat-slide-toggle formControlName="sale" color="primary">
                                    <span *ngIf="!toSale" class="text-primary">
                                        habilitar
                                    </span>
                                </mat-slide-toggle>
                            </div>

                            <div class="form-row msg-warning " [ngClass]="{'disponible-warning': !toSale}"
                                data-warning="Controle de venda desabilitado! :(">

                                <div class="col-lg-5">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Preço de venda" formControlName="sale_price"
                                            [brmasker]="{form: form.get('sale_price'), money: true, decimalCaracter: '.'}">
                                        <span matPrefix>$&nbsp;</span>
                                        <mat-hint>
                                            preço do produto disponibilizado em sua loja
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-5 ml-auto">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Preço de custo" formControlName="cost_price"
                                            [brmasker]="{form: form.get('cost_price'), money: true, decimalCaracter: '.'}">
                                        <span matPrefix>$&nbsp;</span>
                                        <mat-hint>
                                            preço do produto adquirido no seu fornecedor
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab label="Acesso">
            <ng-template matTabContent>
                <div class="pt-5 ">
                    <mat-card class=" p-5">
                        <mat-card-content>
                            <div class="form-row msg-warning ">
                                <div class="col-lg-6">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Código de barras" formControlName="code">
                                        <mat-hint>
                                            Código de barras informado no seu produtos
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</form>