.highlight-cell {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #cacaca;
    background: #e6e6e6;
    text-align: center;

    &.danger,  &.danger.warning {
        background: #f7b4b4; 
    }
    &.warning {
        background: #fdf2bc; 
    }
}

.label-info {
    padding-left: 4px;
    padding-right: 4px;
    span {
        display: inline-block;
        width: 10px ;
        height: 10px;
        background: #e6e6e6;
        &.warning {
            background: #fdf2bc; 
        }

        &.danger {
            background: #f7b4b4; 
        }
    }
}