<header class="content__title">
  <h1>Listagem de categorias</h1>
  <button type="button" class="btn bg-theme btn-add text-white" (click)="alertCreate()">
      <i class="fas fa-plus fa-2x"></i>
  </button>

</header>

<div class="card  responsive-table">
  <div class="card-body ">
      <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
      <div class="mat-elevation-z8 ">
          <table mat-table [dataSource]="dataSource" matSort   class="w-100 ">

              <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Criado </th>
                  <td mat-cell *matCellDef="let element">
                      {{element.created_at| date:'dd/MM/yyyy HH:mm'}} 
                  </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- action Column -->
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Ações </th>
                  <td mat-cell *matCellDef="let element">
                      <button class="btn btn-primary mx-1" (click)="alertEditar(element)">
                          <i class="zmdi zmdi-edit"></i>
                      </button>
                      <button class="btn btn-danger mx-1" (click)="alertDelete(element)">
                          <i class="zmdi zmdi-close"></i>
                      </button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

      </div>
  </div>
</div>