@keyframes alertUser {
    from {
        transform: rotateZ(0deg)
    }

    10% {
        transform: rotateZ(-10deg)
    }
    20% {
        transform: rotateZ(10deg)
    }
    30% {
        transform: rotateZ(-10deg)
    }
    40% {
        transform: rotateZ(10deg)
    }
    50% {
        transform: rotateZ(-10deg)
    }
    60% {
        transform: rotateZ(10deg)
    }
    
}

.alertUser {
    animation: alertUser 500ms ;
}

.build-produt {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: var(--light);
    z-index: 10;

    .btn-build {
        position: absolute;
        right: 0;
        top: 0;
    }
}