<header class="content__title">
  <h1>Bairros</h1>
  <button type="button" class="btn btn-success btn-add"  >
      <i class="fas fa-print 3x"></i>
  </button>
  
</header>
<div class="card">
    <form [formGroup]="form">
        <div class="card-body">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" 
                            class="form-control" 
                            placeholder=""
                            formControlName="name" >
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Número</label>
                        <input type="text" 
                        class="form-control" 
                        placeholder="nº no cardapio"
                        formControlName="number"
                        [ngClass]="{'form-control--active': form.value.number !== ''}">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="mt-5 text-center">
               <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                   Salvar
                </button>
            </div>
        </div>
    </form>
</div>