<div class="container-fluid" *ngIf="products">
    <div class="row">
        <div class="col-lg-7 bg-white">

            <button mat-fab class="finalize-button rounded-circle" type="button" *ngIf="!isVisible"
                (click)="isVisible = !isVisible ">
                <span class=" count">
                    <span>{{ homeService.totalItens }}</span>
                </span>
                <i class="fas fa-shopping-cart"></i>
            </button>

            <button class="btn btn-secondary rounded-circle close-painel shadow" *ngIf="isVisible" type="button"
                (click)="isVisible = !isVisible ">

                <i class="fas fa-times"></i>
            </button>
            <app-lista-produtos [products]="products"></app-lista-produtos>
        </div>
        <div class="col-lg-5  bg-white painel-d" [ngClass]="{'active-mobile-painel': isVisible}">
            <app-painel-pedido (removeProduct)="emitRemove()"></app-painel-pedido>
        </div>
    </div>
</div>