<header class="content__title">
    <h1>novo Produto</h1>
</header>

<ion-card>

    <div class="card">
        <form [formGroup]="form" (submit)="submit()" *ngIf="product">
            <div class="card-body">
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome</label> <i class="fas fa-user"></i>
                            <input type="text" class="form-control" placeholder="pizza, arroz, frango..."
                                formControlName="name" [ngClass]="{'form-control--active': form.value.name !== ''}">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" class="form-control" placeholder="nº no cardapio"
                                formControlName="number" [ngClass]="{'form-control--active': form.value.number !== ''}">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 pt-3">
                        <!-- <mat-form-field class="w-100">
                            <mat-label>Categoria</mat-label>
                            <mat-select formControlName="category_id">
                                <mat-option *ngFor="let category of categories" [value]="category.id">
                                    {{ category.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>


                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Peso</label>
                            <input type="text" class="form-control" placeholder="10g, 10kl, 20lt..."
                                formControlName="weight">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Preço de custo</label>
                            <input type="text" class="form-control" placeholder="30 R$" formControlName="cost_price">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Código</label>
                            <input type="text" class="form-control" placeholder="0000 000000" formControlName="code">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center pt-3">
                        <mat-slide-toggle class="mat-primary" (change)="alter('sale_price')" formControlName="sale"
                            checked>
                            Disponível para venda?
                        </mat-slide-toggle>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Preço de venda</label>
                            <input type="text" class="form-control" placeholder="30 R$" formControlName="sale_price">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center pt-3">
                        <mat-slide-toggle class="mat-primary" (change)="alter('units')" formControlName="stock" checked>
                            Disponível para estoque?
                        </mat-slide-toggle>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Unidades</label>
                            <input type="text" class="form-control" placeholder="1" formControlName="units">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Descrição</label>
                    <textarea class="form-control textarea-autosize"></textarea>
                    <i class="form-group__bar"></i>
                </div>

                <div class="clearfix"></div>

                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-primary">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</ion-card>