@import '~bootstrap/scss/bootstrap-reboot.scss';

p span {
    font-size: 20px
}

div.painel-item {
    position: absolute;


    z-index: 10;

    @include media-breakpoint-up(md) {
        top: -38px;
        left: -33px;
        right: auto;
    }

    @include media-breakpoint-down(md) {
        top: -50px;
        left: auto;
        right: 20px;
    }
}

.payment-calcs {
    margin: 5px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #f3f3f3;

    h2 {
        font-size: 18px;
        color: var(--white);
    }

    small {
        font-size: 15px;
        display: block;
        color: var(--dark);
        background: #f3f3f3;
    }
}

.content-page {
    height: 100vh;
    overflow: auto;
}


.btn-finalize {

    font-size: 18px;

    @include media-breakpoint-up(md) {

        position: absolute;
        height: 98%;
        top: 1%;
        left: 1%;
        width: 98%;
        padding-top: 22px;
    }

    &.mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 28px;
        z-index: 999;
    }

}

.client-info {
    small {
        font-size: 12px;
    }
}

.mobile-content {
    margin-bottom: 100px;
}