.content-photo {

    .content-photo-header {
        padding-top: 20px;
    }
   
    img {
        width: 225px;
        height: 100%;
        object-fit: contain;
        display: block;
        margin: 0 auto; 
    }

    .actions {
        padding: 20px 0;
    }

}

.collection-list {
    position: relative;
    border: 1px solid var(--secondary);
    .item {
        position: relative;
        border-bottom: 1px solid var(--secondary);
    }

    .item-name {
        width: 100px
    }

    .remove-item {
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 24px;
    }
}