// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$zmdi-font-path: '~material-design-iconic-font/dist/fonts';
@import '~material-design-iconic-font/scss/material-design-iconic-font';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';



@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';





.ng-invalid.ng-touched ~ .form-group__bar {
    &::after,
    &::before {
        background-color: var(--danger);
    }
}

.btn-add.btn {
    
    
    
    
    border-radius: 50%;
    @include media-breakpoint-down(md) { 
        width:40px;
        height: 40px;
        bottom: 4%;
        right: 5%;
        position: fixed;
        z-index: 10;
    }
    @include media-breakpoint-up(md) { 
        width: 45px;
        height: 45px;
        bottom: 5%;
        right: 4%;
        position: absolute;
    }
    @include media-breakpoint-up(xl) { 
        width: 55px;
        height: 55px;
        bottom: 5%;
        right: 4%;
        position: absolute;
    }
}

.responsive-table {
    
    @include media-breakpoint-down(md) { 
        overflow: auto;
        width: 550px;
    }
    @include media-breakpoint-up(md) { 
        overflow: auto;
        width: 100%;
    }
    @include media-breakpoint-up(xl) { 
        overflow: hidden;
        width: 100%;
    }
    
    
    td.mat-column-star {
        width: 20px;
        padding-right: 8px;
    }
    
    th.mat-column-position, td.mat-column-position {
        padding-left: 8px;
    }
    
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
}



.table-hover.link-table tbody tr:hover {
    cursor: pointer;
}

.link-element:hover {
    cursor: pointer;
}

ion-modal.sm{
    --width: 90% !important;
    --height: 65% !important;
}

ion-modal.md{
    --width: 55% !important;
    --height: 86% !important
}

ion-modal.lg{
    --width: 80% !important;
    --height: 100% !important;
}


@media print {
    body * {
        visibility: hidden;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
    }
}
