// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$zmdi-font-path: '~material-design-iconic-font/dist/fonts';
@import '~material-design-iconic-font/scss/material-design-iconic-font';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';



@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/cdk/overlay-prebuilt.css';

@import '~bootstrap/scss/bootstrap-reboot.scss';

.alert-button.ion-focusable.ion-activatable.danger {
    color: var(--danger);
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.close {
    z-index: 10;
}
.disabled-events {
    pointer-events: none;
}

.ng-invalid.ng-touched ~ .form-group__bar {
    &::after,
    &::before {
        background-color: var(--danger);
    }
}

.btn-add.btn {
    
    
    color: var(--white);
    
    border-radius: 50%;
    @include media-breakpoint-down(md) { 
     
        height: 40px;
        bottom: 4%;
        right: 5%;
        position: fixed;
        z-index: 10;
    }
    @include media-breakpoint-up(md) { 
   
        height: 45px;
        bottom: 5%;
        right: 4%;
        position: absolute;
    }
    @include media-breakpoint-up(xl) { 
    
        height: 55px;
        bottom: 5%;
        right: 4%;
        position: absolute;
    }
}
.button-area {
    position: absolute;
    bottom: 0;
    left:0;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    background: #fff;
}



.responsive-table {
    width: 100%;
    @include media-breakpoint-down(md) { 
        overflow: auto;
        table {
            width: 550px;
        }
        
    }
    @include media-breakpoint-up(md) { 
        overflow: auto;
        table {
            width: 100%;
        }
        
     
    }
    @include media-breakpoint-up(xl) { 
        overflow: hidden;
    }

 
    
    td.mat-column-star {
        width: 20px;
        padding-right: 8px;
    }
    
    th.mat-column-position, td.mat-column-position {
        padding-left: 8px;
    }
    
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
}



.table-hover.link-table tbody tr:hover {
    cursor: pointer;
}

.link-element:hover {
    cursor: pointer;
}

ion-modal.sm{
    --width: 90% !important;
    --height: 65% !important;
}

ion-modal.md{
    --width: 55% !important;
    // --height: 86% !important
}

ion-modal.lg{
    --width: 80% !important;
    --height: 100% !important;
}


@include media-breakpoint-down(md) { 

    ion-modal.sm.responsive,  ion-modal.lg.responsive, ion-modal.md.responsive {
        --width: 95% !important;
        --height: 91% !important;
    }
    
}
@include media-breakpoint-up(md) { 
    ion-modal.md.responsive {
        --width: 400px !important;
        --height: 180px !important
    }

    ion-modal.sm.responsive {
        --width:  400px !important;
        --height: 65% !important;
        &.large-horizontal {
            --height: 75% !important;
        }
    }
    ion-modal.lg.responsive {
        --width:   55%  !important;
        --height: 65% !important;
    }
}
@include media-breakpoint-up(xl) { 
    ion-modal.md.responsive {
        --width: 55% !important;
        --height: 180px !important
    }

    ion-modal.sm.responsive {
        --width:  500px !important;
        --height: 65% !important;

        &.large-horizontal {
            --height: 85% !important;
        }
    }
    ion-modal.lg.responsive {
        --width:   55%  !important;
        --height: 65% !important;
    }
}

.is-link:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}


.disponible-warning {
    pointer-events: none;
    position: relative;
    padding-top: 25px;
    opacity: 0.4;
    
    &::after {
        content:'';
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        opacity: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    &.msg-warning[data-warning]::after {
        content: attr(data-warning);
    }
}

.search-stycky-top {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #FFF;
}


.beauty-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.beauty-scroll::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}
.beauty-scroll::-webkit-scrollbar-thumb {
    background: var(--primary);
}


.loading-overlay {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( #000000, 0.2);
    pointer-events: none;
}


.scrollbar-inner {
    overflow: auto;
}


.hiper-responsive {
	table {
		width: 100%;
	}	

	
	@media screen and (min-width: 600px) {
		.mat-cell.text-truncate {
			max-width: 60px;
		}
	}

	@media screen and (min-width: 700px) {
		.mat-cell.text-truncate {
			max-width: 150px;
		}
	}
    @media screen and (max-width: 600px) {
       .mat-table, table  {
			border: 0;
			padding: 5px 15px 15px 15px;
		}
		
		
        .mat-table caption {
            font-size: 1.3em;
        }
        .mat-table .mat-header-row, table thead tr {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
		.mat-table .mat-row, table tr {
			border: 1px solid #ddd;
			border-bottom-width: 3px ;
            display: block;
			margin: .625em 2px;
            padding: 0.35em;
            height: auto;

            &.selected {
                border: 3px solid blue;
            }
			// box-shadow: 0px 18px 21px -17px rgba(0,0,0,0.57);
        }
        .mat-table .mat-cell, table td {
			border-bottom: 1px solid #ddd;
			background: #f8f8f8;
            display: block;
            font-size: .8em;
			text-align: right;
			padding: 0.625em;
			min-height: auto;
			&:last-of-type {
				border-bottom: none;
			}
		}
		.mat-row:nth-child(even) .mat-cell, tr:nth-child(even) th {
			background: rgba(145, 151, 187, 0.34)
		}

		.mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
			padding-left: 0.625em;
		}

		.mat-footer-row::after, .mat-header-row::after, .mat-row::after  {
			content: none;
		}

		
		.mat-table .mat-cell::before,  table td::before {
            content: attr(data-label);
			float: left;
			margin-right: 10px;
			// margin-top: 5px;
            font-weight: bold;
            text-transform: uppercase;
        }
        table td:last-child {
            border-bottom: 0;
        }
    }
}

.custom-dialog {
    .mat-dialog-container {
        padding: 10px;
    }
}
